<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img src="https://vstu.by/images/logotype/vstu16.png" alt="logo" height="24px">
            <small class="d-block mb-3 text-muted">
                © 2017-2020
            </small>
        </div>
        <div class="col-6 col-md">
            <h5>Технологии</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="https://www.python.org/" target="_blank">Python</a>
                </li>
                <li>
                    <a class="text-muted" href="https://www.djangoproject.com/" target="_blank">Django</a>
                </li>
                <li>
                    <a class="text-muted" href="https://www.sqlite.org/index.html" target="_blank">SQLite</a>
                </li>
            </ul>
        </div>
    </div>
</footer>